<aside>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">
    <ul>
      {% for link in site.navigation %}
        {% if link.glossary == true %}
            <li class="glossary-toggle">
              <a href="#glossary">{{ link.text }}</a>
            </li>
        {% elsif link.internal == true %}
            <li>
              <a href="{{ site.baseurl }}/{{ link.url }}"><img src="{{ link.icon }}" width="20" align="left"> {{ link.text }}</a>
            </li>
        {% else %}
            <li>
              <img src="{{ link.icon }}" width="50" align="left"><a href="{{ link.url }}">{{ link.text }}</a>   
            </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</aside>